:root {
  --background-0: #242933;
  --background-1: #2E3440;
  --background-2: #3B4252;
  --background-3: #434C5E;
  --background-4: #4C566A;

  --foreground-1: #D8DEE9;
  --foreground-2: #E5E9F0;
  --foreground-3: #ECEFF4;

  --frost-1: #8FBCBB;
  --frost-2: #88C0D0;
  --frost-3: #81A1C1;
  --frost-4: #5E81AC;

  --aurora-1: #BF616A;
  --aurora-2: #D08770;
  --aurora-3: #EBCB8B;
  --aurora-4: #A3BE8C;
  --aurora-5: #B48EAD;
  
  --highlight: var(--frost-2);
}

* {
  user-select: none;
}

.App {
  display: flex;
  text-align: center;
  background-color: var(--background-0);
  position: absolute;
  width: 100%;
  height: 100%;
  color:var(--foreground-1);
  overflow: auto;
}

#file-manager {
  right:0px;
}

.item-title{
  color:var(--foreground-1);
}

.item-title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--foreground-1);
  opacity: 0.5;
  width: 135px;
  margin: 8px auto;
}

#sequence-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.module-list, .module-sequence {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: fit-content;
}

.module-list {
  background-color: var(--background-1);
}

.module-card {
  min-height: 60px;
  min-width: 150px;
  width: fit-content;
  background: var(--background-2);
  margin: 15px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 15px -5px #000;
}
.module-card[draggable=true] {
  cursor: grab;
}