input[type=time] {
  width: fit-content;
}
input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}
input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance:none;
  appearance: none;
  margin: -10px; 
}